## Fake News Detection

In [1]:
#dataset: https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset

In [2]:
#Import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#Import the data
path = "../../../Datasets/Fake_News/"
true_df = pd.read_csv(path + 'True.csv')
fake_df = pd.read_csv(path + 'Fake.csv')

In [5]:
#lable true news to 0 and fake news to 1
true_df['label'] = 0

In [6]:
fake_df['label'] = 1

In [7]:
# See first 5 rows of true news
true_df.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [8]:
# see first 5 rows of fake news
fake_df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [9]:
# Extract important columns
true_df = true_df[['text','label']]
fake_df = fake_df[['text','label']]

In [10]:
# concat the true and fake news dataframe
dataset = pd.concat([true_df , fake_df])

In [11]:
dataset.shape

(44898, 2)

In [12]:
dataset.head()

                                                text  label
0  WASHINGTON (Reuters) - The head of a conservat...      0
1  WASHINGTON (Reuters) - Transgender people will...      0
2  WASHINGTON (Reuters) - The special counsel inv...      0
3  WASHINGTON (Reuters) - Trump campaign adviser ...      0
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      0

### Null values

In [13]:
dataset.isnull().sum() # no null values

text     0
label    0
dtype: int64

### Balanced or Unbalanced dataset

In [14]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [15]:
true_df.shape # true news

(21417, 2)

In [16]:
fake_df.shape # fake news

(23481, 2)

### Shuffle or Resample

In [17]:
dataset = dataset.sample(frac = 1)

In [18]:
dataset.head(20)

                                                    text  label
18290  A health care executive cheated Medicare out o...      1
15330  BANGKOK (Reuters) - Thailand s Royal Household...      0
5998   On Sunday, while Floridians braced themselves ...      1
10019  Rebel Media: Attacking someone for their polit...      1
5403   It s almost pathetic how quickly and easily ou...      1
1981   WASHINGTON (Reuters) - U.S. Defense Secretary ...      0
13682  One of the countries Mooch and her taxpayer fu...      1
1828   WASHINGTON (Reuters) - U.S. Representative Cha...      0
21903  What an evil bunch of freaks! The agenda is so...      1
12345  YANGON (Reuters) - Myanmar s government said o...      0
16480  NAIROBI (Reuters) - Opposition leader Raila Od...      0
21922  It should also be said that the current US Adm...      1
840    (Reuters) - Twitter Inc faced questions on Fri...      0
1310   HARRISBURG, Pa./WASHINGTON (Reuters) - Preside...      0
1249   DUBAI (Reuters) - The United Arab Emirates sai...      0
9160   House Speaker Paul Ryan (R., Wis.) on Tuesday ...      1
8706   Filmmaker Michael Moore, who was born in Flint...      1
1463   Donald Trump s number one fan still believes i...      1
17994  MYEBON, Myanmar (Reuters) - Buddhist villagers...      0
488    A Phoenix publication took to its Twitter acco...      1

In [19]:
import nltk

In [20]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [21]:
ps = WordNetLemmatizer()

In [22]:
stopwords = stopwords.words('english')

In [23]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dnyan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [24]:
def cleaning_data(row):
    
    # convert text to into lower case
    row = row.lower() 
    
    # this line of code only take words from text and remove number and special character using RegX
    row = re.sub('[^a-zA-Z]' , ' ' , row)
    
    # split the data and make token.
    token = row.split() 
    
    # lemmatize the word and remove stop words like a, an , the , is ,are ...
    news = [ps.lemmatize(word) for word in token if not word in stopwords]  
    
    # finaly join all the token with space
    cleanned_news = ' '.join(news) 
    
    # return cleanned data
    return cleanned_news

In [25]:
dataset['text'] = dataset['text'].apply(lambda x : cleaning_data(x))

In [26]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [28]:
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [29]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [30]:
X.head()

18290    health care executive cheated medicare million...
15330    bangkok reuters thailand royal household burea...
5998     sunday floridian braced tropical storm colin g...
10019    rebel medium attacking someone politics could ...
5403     almost pathetic quickly easily frenemies right...
Name: text, dtype: object

In [31]:
y.head()

18290    1
15330    0
5998     1
10019    1
5403     1
Name: label, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
train_X , test_X , train_y , test_y = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [33]:
vec_train = vectorizer.fit_transform(train_X)

In [34]:
vec_train = vec_train.toarray()

In [35]:
vec_test = vectorizer.transform(test_X).toarray()

In [36]:
train_data = pd.DataFrame(vec_train , columns=vectorizer.get_feature_names())
test_data = pd.DataFrame(vec_test , columns= vectorizer.get_feature_names())

In [37]:
train_data.head()

,aa,aadhaar,aapl,aaron,aarp,ab,aba,ababa,aback,abadi,...,zor,zor city,zor province,zucker,zuckerberg,zuckerberg said,zuma,zuma said,zurich,zurich reuters
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
test_data.head()

,aa,aadhaar,aapl,aaron,aarp,ab,aba,ababa,aback,abadi,...,zor,zor city,zor province,zucker,zuckerberg,zuckerberg said,zuma,zuma said,zurich,zurich reuters
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Multinomial NB

In [39]:
from sklearn.naive_bayes import MultinomialNB

In [40]:
from sklearn.metrics import accuracy_score,classification_report

In [41]:
clf = MultinomialNB()

In [42]:
clf.fit(train_data, train_y)
predictions  = clf.predict(test_data)

In [43]:
print(classification_report(test_y , predictions))

              precision    recall  f1-score   support

           0       0.95      0.95      0.95      3314
           1       0.95      0.96      0.96      3686

    accuracy                           0.95      7000
   macro avg       0.95      0.95      0.95      7000
weighted avg       0.95      0.95      0.95      7000

Now predict on both train set

In [41]:
predictions_train = clf.predict(train_data)
print(classification_report(train_y , predictions_train))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96     13425
           1       0.96      0.96      0.96     14575

    accuracy                           0.96     28000
   macro avg       0.96      0.96      0.96     28000
weighted avg       0.96      0.96      0.96     28000

In [42]:
accuracy_score(train_y , predictions_train)

0.9600357142857143

In [43]:
accuracy_score(test_y , predictions)

0.9508571428571428

In [44]:
news = cleaning_data(str("Imposters posing as army personnel on the social media have been called out by the Indian Army as false news and disinformation."))

In [45]:
single_prediction = clf.predict(vectorizer.transform([news]).toarray())
single_prediction

array([1], dtype=int64)

# Save the Model

In [46]:
import joblib

In [47]:
joblib.dump(clf , 'fake_news_detection_model.pkl')

['model.pkl']

In [48]:
model = joblib.load('fake_news_detection_model.pkl')

In [49]:
model

MultinomialNB()